<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410211543449-pads192hb2mfr01lp1tep6a7tjrc6634.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410211543449-pads192hb2mfr01lp1tep6a7tjrc6634</string>
	<key>API_KEY</key>
	<string>AIzaSyAmDmIUdBmvmOqv4pn89BRr5XGKgJfbkpc</string>
	<key>GCM_SENDER_ID</key>
	<string>410211543449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSkinsCrud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-skins-crud</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-skins-crud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410211543449:ios:d260c0dac65431abde4b08</string>
</dict>
</plist>